@font-face {

    font-family: Crackman;
    src: url(fonts/crackman/crackman.ttf);
}
body {

    margin: 0;
}
header {

    display: flex;
    justify-content: flex-end;
}

/* Styling for main page */

.main-title span,
.main-title p {

    position: relative;
    top: 180px;
    color: white;
    text-align: center;
    
}

.main-title span {

    font-size: 130px;
    left: 100px;
    font-family: Crackman;
    text-align: center;
}

.main-title p {

    font-size: 33px;
    font-family: Arial Narrow;
    text-align: center;
}

.main-title video {

    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

/* End of styling for main page */

#logo {

    color: yellow;
    font-family: Arial Black;
    font-size: 40px;
    transform: rotate(-15deg);
}

.navigation-bar {

    display: flex;
    flex-wrap: wrap;
    background-color: none;
    list-style-type: none;
    margin-right: 25px;
}

.navigation-bar li {

    justify-content: space-around;
    padding: 10px;

}

.navigation-bar li a {

    text-decoration: none;
    color: white;
    font-family: Tahoma;
    text-transform: uppercase;
    font-weight: bold;
}

.questions {

    display: flex;
    flex-direction: row;
}

@media (max-width: 400px) {

    .navigation-bar {

        background: linear-gradient(to right, black, gray);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .navigation-bar li {

        text-align: center;
        margin: 0;
        font-size: 50px;
        border: 2px solid white;
    }

    .navigation-bar li a {

        text-align: center;
    }

    body {

        background-color: black;
    }

    #main-title-text {

        font-size: 35px;
        text-align: center;
        position: relative;
        left: 15px;
        overflow: hidden;
    }

    .main-title video {

        display: none;
    }
}

@media (max-width: 700px) {

    .navigation-bar {

        background: linear-gradient(to right, black, gray);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }

    .navigation-bar li {

        text-align: center;
        font-size: 50px;
        border: 2px solid white;
        padding: 20px;
    }

    .navigation-bar li a {

        text-align: center;
    }

    body {

        background-color: black;
    }

    #main-title-text {

        font-size: 80px;
        text-align: center;
        position: relative;
        left: 15px;
        overflow: hidden;
    }

    .main-title video {

        display: none;
    }

    .main-title p {

        font-size: 60px;
    }
}