@media (max-width: 400px) {

    .navigation-bar {

        background: linear-gradient(to right, black, gray);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation-bar li {

        justify-content: center;
    }
}

@media (max-width: 1069px) {

    .navigation-bar {

        display: flex;
    }

    .navigation-bar li {

        flex-direction: row;
    }
}
body {

    margin: 0;
}
header {

    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

/* Styling for main page */

.main-title h1,
.main-title p {

    position: absolute;
    bottom: 400px;
}

.main-title video {

    width: 100%;
    position: fixed;
}

/* End of styling for main page */

#logo {

    color: yellow;
    font-family: Arial Black;
    font-size: 40px;
    transform: rotate(-15deg);
}

.navigation-bar {

    display: flex;
    flex-wrap: wrap;
    background-color: none;
    list-style-type: none;
    justify-content: flex-end;
}

.navigation-bar li {

    justify-content: space-between;
    padding: 10px;

}

.navigation-bar li a {

    text-decoration: none;
    color: white;
    font-family: Tahoma;
    text-transform: uppercase;
    font-weight: bold;
}

.questions {

    display: flex;
    flex-direction: row;
}