@media (max-width: 400px) {

    .navigation-bar {

        background: linear-gradient(to right, black, gray);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navigation-bar li {

        justify-content: center;
    }
}

@media (max-width: 1069px) {

    .navigation-bar {

        display: flex;
    }

    .navigation-bar li {

        flex-direction: row;
    }
}

@font-face {

    font-family: Beautiful Friends;
    src: url(fonts/beautiful-friends/beautiful-friends.ttf);
}

@font-face {

    font-family: Campus;
    src: url(fonts/campus/campus.ttf)
}
body {

    margin: 0;
    box-sizing: border-box;
}
header {

    display: flex;
    justify-content: space-between;
    background-color: #000000;
}

/* Styling for main page */

.main-title h1,
.main-title p {

    position: absolute;
    bottom: 400px;
}

.main-title video {

    width: 100%;
    position: fixed;
}

/* End of styling for main page */

#logo {

    color: yellow;
    font-family: Arial Black;
    font-size: 40px;
    transform: rotate(-15deg);
}

.navigation-bar {

    display: flex;
    flex-wrap: wrap;
    background-color: none;
    list-style-type: none;
    justify-content: flex-end;
}

.navigation-bar li {

    justify-content: space-between;
    padding: 10px;

}

.navigation-bar li a {

    text-decoration: none;
    color: white;
    font-family: Tahoma;
    text-transform: uppercase;
    font-weight: bold;
}

/* How To Play page styling */

.how-to-play-video {

    position: fixed;
    width: 100%;
    top: 0;
    z-index: -1;
}

.rules-of-quiz {

    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 1px solid white;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: white;
}

.rules-of-quiz span {

    font-size: 60px;
    font-family: Beautiful Friends;
    color: red;
    padding-bottom: 50px;

}

.rules-of-quiz p {

    color: gray;
    font-family: Arial Narrow;
    text-align: left;
    margin: 80px;
    margin-bottom: 40px;
    font-size: 20px;
}

.rules-of-quiz ol {

    font-size: 18px;
    font-family: Tahoma;
    color: gray;
    text-align: left;
    margin-top: 10px;
    margin: 80px;
}

.medals-rewards {

    margin-left: 35px;
}

.medals-rewards li {

    list-style-type: none;
    font-family: Tahoma;
    font-size: 30px;
    text-align: left;
    color: gray;
    
}

/* How To Play page styling ends */



/* All styling for the questions */

.questions-anchors {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    background-color: #0080FF;
    margin-left: 0;
    padding-left: 0;
}



.questions-anchors li a {

    text-decoration: none;
    color: white;
    font-family: Tahoma;
}

#questions-container {

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 1px solid black;
    justify-content: flex-start;
    padding: 30px;
    box-shadow: 10px 5px 5px 5px gray;
}

#questions-container div {

    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 60px;
}

#questions-container div p {

    font-size: 18px;
    font-family: Tahoma;
}

#questions-container h2 {

    text-align: center;
    font-family: Beautiful Friends;
    font-size: 60px;
}


.question-title {

    font-family: Arial Black;
    font-size: 25px;
}

#questions-container div button {

    background-color: #2ECCFA;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 30px;
    margin-top: 50px;
    border-bottom: 10px solid #01A9DB;
    transform: transition;
    transition: all .2s ease-in-out;
    
}

#questions-container div button:active {

    border-bottom: none;
    top: 5px;
    position: relative;
}

#scoreboard {

    background-color: #00FFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

#scoreboard span {

    font-family: Arial Black;
    font-size: 30px;
}
/* Ending of the styling for the questions */

/* Begin styling for Game Over pop up */

#game-over {

    
    position: fixed;
    height: auto;
    display: none;
}

#game-over video {

    z-index: 1;
    width: 100%;
}

#game-over span {

    z-index: 2;
    text-transform: uppercase;
    font-family: Campus;
    font-size: 100px;
    left: 450px;
    top: 400px;
    text-align: center;
    position: absolute;
    animation-name: fontColorani;
    animation-duration: .15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes fontColorani {

    from {

        color: red;
    }

    to {

        color: yellow;
    }
}

/* End styling for Game Over pop up */